
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #4eb16f;
    color: darkblue;
    text-align: center;
    padding: 22px;
}

main {
    margin: 22px;
}

section {
    margin-bottom: 30px;
}


